<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:8888/public/style.css">
    <!--<link rel="stylesheet" type="text/css" href="https://www.dropbox.com/s/5abieihjyrzl73v/style.css?dl=0">-->
    </head>
<body>
<!--<script id="entry-template" type="text/x-handlebars-template">-->
    <div class="entry">
        <h1>Plantsareas</h1>
    </div>
    <div class="plantsareas">
        <!--{{plantsareas}}-->
        {{#each plantsareas}}
        <div class="plantsarea">
            Name: {{this.name}}
            <br/>
            Sensors: {{this.numberOfSensors}}
        </div>
        {{/each}}
    </div>

<div id="handlebars-entry"></div>

</body>