<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html" charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <script src="https://rawgit.com/Olical/EventEmitter/master/EventEmitter.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/sensors.js"></script>
    <script src="/socketio.js"></script>
    <script src="/react.js"></script>
    <script src="/react-dom.js"></script>
    <script type="text/babel" src="/reactComponents.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <!--path relative to public directory-->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<div style="margin-right: 30px; float: right">
    <h4><i>Logged in user: [{{#user}}{{body}}{{/user}}]</i></h4>
</div>

<div style="margin-left: 30px" class="entry title">
    <h1>Plantsareas</h1>
    <a href='http://localhost:3001/plantsareas'>All plantsareas</a>
</div>

<div style="margin-right: 30px; float: right">
    <div class="row">
        <div class="span2">
            People:
            <ul id="people" class="unstyled"></ul>
        </div>
        <div class="span4">
            Messages:
            <ul id="msgs" class="unstyled">
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span5 offset2" id="login">
            <form class="form-inline">
                <input type="text" class="input-small" placeholder="Your name" id="name">
                <input type="button" name="join" id="join" value="Join" class="btn btn-primary">
            </form>
        </div>
        <div class="span5 offset2" id="chat">
            <form id="2" class="form-inline">
                <input type="text" class="input" placeholder="Your message" id="msg">
                <input type="button" name="send" id="send" value="Send" class="btn btn-success">
            </form>
        </div>
    </div>
</div>

<div id="plantsareas" class="plantsareas">
    {{#each plantsareas}}
    <div id="{{this._id}}" class="plantsarea">
        Name: {{this.name}} - Sensors: {{this.numberOfSensors}}
        <a href='http://localhost:3001/sensors/{{this._id}}'>Sensors</a>
    </div>
    {{/each}}
</div>

<h3 style="margin-left: 50px">React component example</h3>
<div id="root" style="margin-left: 50px">
</div>

<!--<form id="newPlantsareaItemForm" style="margin-left: 15px" class="form-controls-font">-->
<!--<div class="form-group">-->
<!--<div class="controls">-->
<!--<label class="control-label">-->
<!--<input name="name_plantsareaItem" type="text" class="form-control required"-->
<!--placeholder="Plantsarea name"/>-->
<!--</label>-->
<!--<div>-->
<!--<button id="submitNewPlantsareaItem" type="submit" class="btn btn-primary">Add</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->

</body>